body,
html {
    height: 100%;
}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-button {
    display: flex;
    justify-content: center;
}

.two-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    margin-top: 5vh;
}

.date-label {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    height: 10vh;
    max-width: 30vw;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    margin-top: 5vh;
}

.details-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vw;
    margin-top: 5vh;
}

.detail-error,
.error,
.salary-error {
    background-color: red;
    color: white;
}

.salary-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#empl {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    max-width: 40vw;
    margin-left: 28vw;

}

.detail-list {
    display: block;
    background-color: aliceblue;
}

.active {
    background-color: blue;
    color: white;
}