body,
html {
    height: 100%;
}

body {
    background: rgba(97, 82, 0, 0.342);
}

.title-main {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(48, 11, 17);
    display: flex;
    justify-content: center;
}

.title {
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.main-button {
    display: flex;
    justify-content: space-evenly;
    width: 40vw;
    margin: 5vw;
}

.active {
    background: brown;
    color: rgba(255, 255, 255, 0.5);
}

.form-library {
    display: flex;
    max-width: 50vw;
    margin-left: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dotted grey;


}

.title-book,
.two-inputs {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    margin-top: 2vh;

}

.detail-page {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    margin-top: 5vh;
    margin-left: 10vh;
}

.details-genre {
    margin: 5vh
}

.submit-buttons {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    margin: 2vw;
}

.error,
.error-message,
.error-pages-message {
    border-color: red;
    color: red;
}

.form-author {
    display: flex;
    justify-content: left;
    margin: 10vh 0vw 0vh 20vw;
}

#all-books {
    display: flex;
    flex-direction: row;
}

#all-books,
#author-books,
#range-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 70vh;
    list-style: none;
    overflow-y: scroll;
    justify-content: space-around;
   
}
.detail-list {
    background-color: rgb(194, 188, 175);
    margin: 1vh;
    color: rgb(57, 59, 3);
}