body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(127, 227, 255);
    overflow: hidden;
}

.main-class {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 2vw;

}


.logo {
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}

.but {
    margin-left: 15vw;
    margin-bottom: 5vh;
}

.movies-list {
    padding-left: 10vw;
}

.movie-image {
    height: 75vh;
    width: 55vh;

}

.details-title {
    background-color: rgb(26, 62, 191);
    color: white;
    font-size: 1.5em;
    text-align: center;
    display: block;
    position: relative;
    max-width: 25vh;
    left: 90vh;
    bottom: 60vh;
    border: solid 2.5px rgb(0, 9, 133);

}

.movie-item {
   display: block;
   margin: 1vh;
   width: 130vh;
   height: 70vh;
    overflow: hidden;
}


.details-overview {
    background-color: rgb(26, 62, 191);
    color: white;
    position: relative;
    max-width: 50vh;
    left: 40vw;
    bottom: 30vh;
    border: solid 2.5px rgb(0, 9, 133);
}


label {
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    margin: 20vw;
}